.leaderboard-single {
  width: 90%;
  border-radius: 5%;
  margin-top: -10%;
  background-color: rgba(255, 255, 255, 0.2);
  align-self: center;
  justify-content: flex-start; }

.leaderboard-pic {
  width: 10%;
  height: 10%;
  align-self: center; }

.arrow {
  height: 7%; }

.pollen {
  width: 10%;
  align-self: center; }

.leaderboard-item.one {
  margin-left: 5%;
  margin-right: 10%; }

.leaderboard-item.two {
  margin-right: 2%; }

.leaderboard-item.four {
  margin-left: 30%;
  position: absolute;
  right: 0;
  margin-right: 20%; }

.leaderboard-item.five {
  position: absolute;
  right: 0;
  margin-right: 10%; }
