body {
  font-family: 'Raleway', sans-serif;
  color: white;
  overflow: hidden;
  background: url("../img/background.png"); }

.white-bg {
  background-color: white;
  z-index: -1;
  top: -2%;
  left: -1%;
  position: fixed;
  height: 28vh;
  width: 101vw;
  border-radius: 10%; }

.orange-text {
  color: #EF8766; }

.header {
  max-height: 6vh;
  margin-left: 8%;
  margin-right: 8%;
  justify-content: space-between; }

.hidden {
  display: none; }

.underlined {
  text-decoration: underline; }

.bold {
  font-weight: bold; }

.large-font {
  font-size: 38px; }

.almost_large-font {
  font-size: 32px; }

.medium-font {
  font-size: 20px; }

.small-font {
  font-size: 15px; }

.pollen-count, .donate-button {
  height: 6vh; }

.nav-bar {
  width: 100%;
  border-radius: 3%;
  background-color: white;
  bottom: 0;
  left: 0;
  position: absolute; }

.nav-bar a {
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: #e2e2e2;
  font-size: 36px; }

.body-font {
  font-family: 'Raleway', sans-serif; }

.center-img {
  align-self: center; }

.offline {
  width: 100%; }

@media (min-width: 720px) {
  .center-img {
    width: 50% !important; }
  .offline {
    width: 50% !important; } }

.center {
  text-align: center; }

.full-width {
  width: 100%; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.paragraph {
  padding-top: 15px;
  text-align: center; }

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden; }

.column {
  flex-direction: column; }

.row {
  flex-direction: row; }

/*flex order*/
.one {
  order: 1; }

.two {
  order: 2; }

.three {
  order: 3; }

.four {
  order: 4; }

.five {
  order: 5; }

.six {
  order: 6; }

.seven {
  order: 7; }

.eight {
  order: 8; }

.nine {
  order: 9; }

.ten {
  order: 10; }
