@import "variables";

.tinder-stuff {
  margin-top: 5%;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
}

.arrow {
  width: 12%;
}

.profile_pic {
  width: 60%;
  margin-top: -5%;
}

.tinder {
  background-color: $transparent;
  border-radius: 2%;
  align-self: center;
  margin-top: 10%;
  height: 70vh;
}