@import "variables";

.tinder-stuff {
  margin-top: 5%;
  justify-content: space-around;
  padding: 5%;
}

.arrow {
  width: 20%;
}

.profile_pic {
  width: 50%;
  margin-top: 20%;
}

.tinder {
  background-color: $transparent;
  border-radius: 2%;
  align-self: center;
  margin-top: 10%;
  height: 70vh;
}