$color-yellow: #FADC4B;

body {
  overflow: hidden;
}

.pollen-count {
    width: 20%;
    height: 50%;
}

.donate-button {
    width: 20%;
    height: 50%;
}

.nav-bar {
    width: 100%;
    background-color: #555;
    bottom: 0;
    position: absolute;
}

.nav-bar a {
    width: 20%;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.nav-bar a:hover {
    background-color: #000;
}

.active {
    background-color: $color-yellow;
}