@import "variables";

.pollen-count-remaining {
  position: absolute;
  bottom: 0;
  margin-bottom: 10vh;
  align-self: center;
}

.gold_member_profile {
  min-height: 30vh;
  justify-content: center;
}

.profile_pic {
    width: 50%;
    margin-top: 5%;
}

.gold_border {
  width: 100%;
  margin-top: 3.5%;
  position: absolute;
}

.bee_name,
.leaderboad_pos {
  margin-top: -8%;
}

.stats {
  min-height: 12vh;
  position: absolute;
  bottom: 17vh;
  align-items: center;
  align-self: center;
}

.level-pollen-text {
  margin-left: 2vh;
  margin-top: 1vh;
}

.stats span {
  margin-top: 4%;
}

.two.progress-bar {
  margin-left: 10vw;
}