$color-yellow: #FADC4B;

body {
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

.pollen-count {
  width: 20%;
  height: 50%;
}

.donate-button {
  width: 20%;
  height: 50%;
}

.nav-bar {
  width: 100%;
  background-color: #555;
  bottom: 0;
  position: absolute;
}

.nav-bar a {
  width: 20%;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.nav-bar a:hover {
  background-color: #000;
}

.active {
  background-color: $color-yellow;
}

.body-font{
  font-family: 'Raleway', sans-serif;
}
.center-img {
  align-self: center;
}
.offline{
  width: 100%;
}
@media (min-width: 720px){
  .center-img{
    width: 50% !important;
  }
  .offline{
    width: 50% !important;
  }
}
.center {
  text-align: center;
}
.full-width{
  width: 100%;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.paragraph{
  padding-top: 15px;
  text-align: center;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}
.column {
    flex-direction: column;
}
.row {
    flex-direction: row;
}

/*flex order*/
.one {
    order: 1;
}

.two {
    order: 2;
}

.three {
    order: 3;
}

.four {
    order: 4;
}

.five {
    order: 5;
}

.six {
    order: 6;
}

.seven {
    order: 7;
}

.eight {
    order: 8;
}

.nine {
    order: 9;
}

.ten {
    order: 10;
}
