$white: white;
$black: black;
$yellow: #FADC4B;
$orange: #EF8766;
$grey: #e2e2e2;
$transparent: rgba(255, 255, 255, 0.2);

$x-large: 45px;
$large: 38px;
$almost_large: 32px;
$medium: 20px;
$small: 15px;