---
title: Chat
---

<!doctype html>
<html lang="en">
<head>
    {% include header.html %}
    <link rel="stylesheet" href="css/chat.css" type="text/css">
</head>

<body class="body-font">
<div class="main flex column">
    <div class="header flex row one">
        {% include pollen_donate_imgs.html %}
    </div>
    <br/>
    <h1 class="center two">
        {{ page.title }}
    </h1>
    <iframe
            class="beebot four"
            allow="microphone;"
            src="https://console.dialogflow.com/api-client/demo/embedded/aced281b-4d3f-4c4a-9d80-c95e444ea174">
    </iframe>
    <script src="sw.js" type="text/javascript"></script>
    {% include popup.html %}
    <div class="nav-bar flex six center">
        {% include navigation.html %}
    </div>
</div>
</body>
</html>
