---
bee_name: Buzzi
bee_occupation: Queen Bee
leaderboard_pos: 1
pollen_earned: 270
pollen_left: 230
---

<!doctype html>
<html lang="en">
<head>
    {% include header.html %}
    <link rel="stylesheet" href="css/profile.css" type="text/css">
    <link href="css/tox-progress.css" rel="stylesheet">
    <script src="js/tox-progress.js"></script>

</head>

<body class="body-font">
{% include white-top.html %}
<div class="main flex column">
    <div class="header flex row one">
        {% include pollen_donate_imgs-orange.html %}
    </div>
    <br/>
    <div class="center three flex column">
        <p class="bee_name one bold large-font">{{ page.bee_name }}</p>
        <p class="leaderboad_pos two almost_large-font">#{{ page.leaderboard_pos }}  |  {{ page.bee_occupation }}</p>
        <!--<p class="leaderboad_pos two almost_large-font">Rank: {{ page.bee_occupation }}</p>-->
        <br>
        <div class="stats three flex row small-font">
            <div class="one flex column level-pollen-text">
                <!--<span class="one">{{ page.bee_occupation }}</span>-->
                <span class="two">Pollen earned: {{ page.pollen_earned }}</span>
            </div>
            <span class="two progress-bar">
                <div class="tox-progress"
                    data-size="100"
                    data-thickness="12"
                    data-color="#ffffff"
                    data-background="#EF8766"
                    data-progress="60"
                    data-speed="500">
                    <div class="tox-progress-content" data-vcenter="true">
                    <div class="text-center" style="width: 100%">
                    <p class="text-center">{{ page.pollen_left }} to go!</p>
                        <script>
                            ToxProgress.create();
                            ToxProgress.animate();
                        </script>
                    </div>
                    </div>
                </div>
            </span>
        </div>
        <span class="pollen-count-remaining four small-font">You need 500 pollen to level up!</span>
    </div>
    <div class="gold_member_profile two flex">
        <img class="gold_border two center-img" src="img/gold_member.png">
        <img class="profile_pic one center-img" src="img/profile_pic.png">
    </div>
    <script src="sw.js" type="text/javascript"></script>
    {% include donate-popup.html %}
    {% include leaderboard-popup.html %}
    <div class="nav-bar flex six center">
        {% include navigation.html %}
    </div>
</div>
</body>
</html>
