---
title: Profile
---

<!doctype html>
<html lang="en">
  <head>
      {% include header.html %}
      <link rel="stylesheet" href="css/profile.css" type="text/css">
  </head>

  <body class="body-font">
  <div class="main flex column">
      <div class="header flex row one">
          {% include pollen_donate_imgs.html %}
      </div>
    <br/>
    <h1 class="center two">
        {{ page.title }}
    </h1>
    <img class="profile_pic three center-img" src="img/profile_pic.png">
    <script src="sw.js" type="text/javascript"></script>
      {% include donate-popup.html %}
      <div class="nav-bar flex six center">
          {% include navigation.html %}
      </div>
  </div>
  </body>
</html>
